* {
    margin : 0;
    box-sizing: border-box;
}

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 52);
}

h1 {
    margin : 100px;
    font-size: 80px;
    color : white;
}
h2 {
    margin : 20px;
    font-size: 40px;
    color : white;
}

p {
    margin-top: 30px;
    width: 70%;
    text-align: center;
    font-size: 30px;
    color : white;
}
.button {
    position: fixed;
    right : 50px;
    bottom: 30px;
    font-size: 24px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}
.button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
.button.active {
    opacity: 1;
    pointer-events: unset;
    transition: all 0.5s;
}